<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">

    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
</head>
<body>
<div style="width:1525px;height:100px;margin-left:0px;background-color:#F1F1F1;float:left" >
    <div style="width:100px;height:100px;margin-left:80px;background-color:;float:left">
        <img src="../img/jinxiu_Img.png" height="100px"width="100px"/>
    </div>
    <!-- 我的锦绣 -->
    <div style="width:100px;height:100px;margin-left:150px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="../message/toMessage" style="text-decoration:none">我的锦绣</a>
                </font>
            </div>
        </div>
    </div>
    <!-- 搜索 -->
    <div style="width:100px;height:100px;margin-left:100px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="#" style="text-decoration:none">搜索</a>
                </font>
            </div>
        </div>
    </div>
    <!-- 直营门店 -->
    <div style="width:100px;height:100px;margin-left:50px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="#" style="text-decoration:none">直营门店</a>
                </font>
            </div>
        </div>
    </div>
    <!-- 锦绣会员 -->
    <div style="width:100px;height:100px;margin-left:50px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="#" style="text-decoration:none">锦绣会员</a>
                </font>
            </div>
        </div>
    </div>
</div>
<div style="width:1350px;height:30px;margin-top:50px;margin-left:80px;background-color:;float:left">
    <font size="5px"><b>我的关注</b></font>
</div>
<div style="width:1350px;height:100px;margin-top:20px;margin-left:80px;background-color:;float:left">
    <a href="../message/toMessagegzme" style="text-decoration:none"><font size="4px" >关注我的人</font></a>&nbsp;&nbsp;||&nbsp;&nbsp;

    <a href="../message/toMessagemegz" style="text-decoration:none"><font size="4px" color="red">我关注的人</font></a>
</div>
<div style="width:1350px;height:165px;margin-left:80px;margin-top:20px;float:left">
    <div class="table" id="myTable"></div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        initMusicList();
    })
    function initMusicList(){
        $("#myTable").bootstrapTable({
            //toolbar:"#toolbar",
            url:"../message/queryguanzhu",
            method:"post",
            contentType:'application/x-www-form-urlencoded',//post请求按照表单方式
            //pagination:true,
            //sidePagination:'server',//分页方式：client客户端分页，server服务端分页
            // pageNumber:1,
            // pageList:[4,6,8,10],
            //pageSize:4,
            //clickToSelect:true,//行选中
            /*queryParams:function(){
                var username = $("#username").val();
                var startIncome = $("#startIncome").val();
                var endIncome = $("#endIncome").val();
                var sex = $("#sex").val();
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                    username:username,
                    startIncome:startIncome,
                    endIncome:endIncome,
                    sex:sex
                }
            },*/
            columns:[
                {title:"头像",field:"userImg",formatter:function(value,row,index){
                        return "<img src='"+value+"' width='200' height='200'>"
                    }},
                {title:"编号",field:"userid",width:"80"},
                {title:"昵称",field:"username",width:"120"},
                {title:"性别",field:"sex",width:"80",formatter:function (value, row, index) {
                        return value==1?"男":"女"
                    }},
                {title:"地区",field:"provinceName",width:"150"},
                {title:"月收入",field:"monthlyincome",width:"150"},
                {title:"独白",field:"innermonologue",width:"520"},



            ]

        })
    }

</script>
</html>