<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:1525px;height:100px;margin-left:0px;background-color:#F1F1F1;float:left" >
    <div style="width:100px;height:100px;margin-left:80px;background-color:;float:left">
        <img src="../img/jinxiu_Img.png" height="100px"width="100px"/>
    </div>
    <!-- 我的锦绣 -->
    <div style="width:100px;height:100px;margin-left:150px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="../message/toMessage" style="text-decoration:none">我的锦绣</a>
                </font>
            </div>
        </div>
    </div>
    <!-- 搜索 -->
    <div style="width:100px;height:100px;margin-left:100px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="#" style="text-decoration:none">搜索</a>
                </font>
            </div>
        </div>
    </div>
    <!-- 直营门店 -->
    <div style="width:100px;height:100px;margin-left:50px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="#" style="text-decoration:none">直营门店</a>
                </font>
            </div>
        </div>
    </div>
    <!-- 锦绣会员 -->
    <div style="width:100px;height:100px;margin-left:50px;background-color:;float:left">
        <div style="width:100px;height:50px;margin-top:25px;background-color:;float:left">
            <div style="width:100px;height:px;margin-top:10px;background-color:;float:left">
                <font color="#996EF0" size="5px" face="微软雅黑">
                    <a href="#" style="text-decoration:none">锦绣会员</a>
                </font>
            </div>
        </div>
    </div>
</div>
<div style="width:1350px;height:30px;margin-top:50px;margin-left:80px;background-color:;float:left">
    <font size="5px"><b>访问记录</b></font>
</div>
<div style="width:1350px;height:100px;margin-top:20px;margin-left:80px;background-color:;float:left">
    <a href="../message/toMessagelook" style="text-decoration:none"><font size="4px" color="red">谁看过我</font></a>&nbsp;&nbsp;||&nbsp;&nbsp;

    <a href="../message/toMessageIlooky" style="text-decoration:none"><font size="4px">我看过谁</font></a>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap3/js/bootstrap.js"></script>
<link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>

<script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">

<script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
<link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
</html>