<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.ShapeBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.ShapeBean" >
    <id column="shapeId" property="shapeid" jdbcType="INTEGER" />
    <result column="shapeName" property="shapename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    shapeId, shapeName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_shape
    where shapeId = #{shapeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_shape
    where shapeId = #{shapeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.ShapeBean" >
    insert into t_shape (shapeId, shapeName)
    values (#{shapeid,jdbcType=INTEGER}, #{shapename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.ShapeBean" >
    insert into t_shape
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shapeid != null" >
        shapeId,
      </if>
      <if test="shapename != null" >
        shapeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shapeid != null" >
        #{shapeid,jdbcType=INTEGER},
      </if>
      <if test="shapename != null" >
        #{shapename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.ShapeBean" >
    update t_shape
    <set >
      <if test="shapename != null" >
        shapeName = #{shapename,jdbcType=VARCHAR},
      </if>
    </set>
    where shapeId = #{shapeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.ShapeBean" >
    update t_shape
    set shapeName = #{shapename,jdbcType=VARCHAR}
    where shapeId = #{shapeid,jdbcType=INTEGER}
  </update>
</mapper>