<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基本资料</title>
</head>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstra3/js/bootstrap.js"></script>
<link rel="stylesheet" href="../js/bootstra3/css/bootstrap.css">
<script src="../js/bootstrap-table/bootstrap-table.js"></script>
<link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
<script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script src="../js/bootstrap-bootbox/bootbox.all.min.js"></script>
<body>
<form id="userForm" class="form-horizontal">
    <input type="text" style="display: none" name="userid" th:value="${user.userid}"  >
    <div class="form-group">
    </div>
    <div class="form-group">
        <label  class="col-sm-2 control-label">用户昵称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:value="${user.username}"   name="username">
        </div>

        <div class="col-sm-8"></div>
    </div>

    <div class="form-group">
        <label  class="col-sm-2 control-label">电话</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:value="${user.userphone}"  name="userphone">
        </div>
        <div class="col-sm-8"></div>
    </div>
    <!-- 第六行 -->
    <div class="form-group">
        <label  class="col-sm-2 control-label">性别</label>
        <div class="col-sm-5">
            <div class="col-sm-10">
                <div class="radio" >
                    <label>
                       <input name="sex" type="radio" value="1"  th:if="${user.sex == 1}" checked/><font th:if="${user.sex == 1}">男</font>

                        <input name="sex" type="radio" value="1"  th:unless="${user.sex == 1}" /><font th:unless="${user.sex == 1}">男</font>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input name="sex" type="radio" value="2"  th:if="${user.sex == 2}" checked/><font th:if="${user.sex == 2}">女</font>

                        <input name="sex" type="radio" value="2"  th:unless="${user.sex == 2}" /><font th:unless="${user.sex == 2}">女</font>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">月收入</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:value="${user.monthlyincome}" name="monthlyincome">
        </div>
        <div class="col-sm-8"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">内心独白</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:value="${user.innermonologue}" name="innermonologue">
        </div>
        <div class="col-sm-8"></div>
    </div>
    <!-- 第七行 -->
    <div class="form-group">
        <div class="col-sm-4" align="right">
            <button onclick="updateUser()" type="button" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>保存</button>
        </div>
    </div>
</form>
</body>

<script>

    //保存用户信息
    function updateUser(){
        $.ajax({
            url:"../ys/updateUser",
            data:$("#userForm").serialize(),
            type:"post",
            success:function(data){
                if (data) {
                    bootbox.alert("保存成功");
                }else{
                    bootbox.alert("保存失败");
                }
            }
        })
    }
</script>
</html>