<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstra3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstra3/css/bootstrap.css"/>
    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css"/>
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css"/>
    <script src="../js/bootstrap-bootbox/bootbox.all.min.js"></script>
</head>
<body>
<div  class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    找对象，就上锦绣网！！！！
                </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div  class="col-md-3">
            <div id="myTree"></div>
        </div>
        <div class="col-md-9">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active"  id="home">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){

        initMyTree();
    })
    function initMyTree(){

        $.post('http://localhost:9100/api-a/zhh/findTree',{},function(data){
            $("#myTree").treeview({
                data:data,
                onNodeSelected:function(event,node){
                    $.addtabs.add({
                        id:node.id,
                        title:node.text,
                        url:node.path
                    })

                }
            })
        })
    }

</script>
</html>