<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstra3/js/bootstrap.js"></script>
<link rel="stylesheet" href="../js/bootstra3/css/bootstrap.css">
<script src="../js/bootstrap-table/bootstrap-table.js"></script>
<link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
<script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script src="../js/bootstrap-bootbox/bootbox.all.min.js"></script>
<body>
<form id="userForm" class="form-horizontal">
    <input type="text" name="lifeid" id="lifeid" style="display: none">
    <input type="text" name="userid" id="userid" style="display: none">
    <div class="form-group">
    </div>
    <!-- 第一行 -->
    <div class="form-group">
        <label  class="col-sm-2 control-label">买房情况</label>
        <div class="col-sm-5">
            <select id="queryhousingsituationid" class="form-control"  name="housingsituationid">
            </select>
        </div>

        <div class="col-sm-8"></div>
    </div>
    <!-- 第二行 -->
    <div class="form-group">
        <label  class="col-sm-2 control-label">买车情况</label>
        <div class="col-sm-5">
            <select id="querycarsituationid" class="form-control"  name="carsituationid">
            </select>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <!-- 第三行 -->
    <div class="form-group">
        <label class="col-sm-2 control-label">是否吸烟</label>
        <div class="col-sm-5">
            <select id="querysmokeid" class="form-control"  name="smokeid">
            </select>
        </div>
        <div class="col-sm-8"></div>
    </div>
    <!-- 第四行 -->
    <div class="form-group">
        <label  class="col-sm-2 control-label">是否喝酒</label>
        <div class="col-sm-5">
            <select id="querydrinkid" class="form-control"  name="drinkid">
            </select>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <!-- 第七行 -->
    <div class="form-group">
        <div class="col-sm-4" align="right">
            <button onclick="updateWorkUser()" type="button" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>保存</button>
        </div>
    </div>
</form>
</body>
<script th:inline="javascript">
    var userId = [[${userId}]];

    $("#userid").val(userId);
</script>


<script>

    function queryhousingsituationid(){
        $.ajax({
            url:"http://localhost:9100/api-a/ys/queryhousingsituationid",
            type:"post",
            async:false,
            data:{},
            success:function(data){
                var html="<option value='-1'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].housingsituationid+"'>"+data[i].housingsituationname+"</option>";
                }
                $("#queryhousingsituationid").html(html);
            }
        })

    }
    function querycarsituationid(){
        $.ajax({
            url:"http://localhost:9100/api-a/ys/querycarsituationid",
            type:"post",
            async:false,
            data:{},
            success:function(data){
                var html="<option value='-1'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].carsituationid+"'>"+data[i].carsituationname+"</option>";
                }
                $("#querycarsituationid").html(html);
            }
        })

    }
    function querysmokeid(){
        $.ajax({
            url:"http://localhost:9100/api-a/ys/querysmokeid",
            type:"post",
            async:false,
            data:{},
            success:function(data){
                var html="<option value='-1'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].smokeId+"'>"+data[i].smokeName+"</option>";
                }
                $("#querysmokeid").html(html);
            }
        })

    }
    function querydrinkid(){
        $.ajax({
            url:"http://localhost:9100/api-a/ys/querydrinkid",
            type:"post",
            async:false,
            data:{},
            success:function(data){
                var html="<option value='-1'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].drinkId+"'>"+data[i].drinkName+"</option>";
                }
                $("#querydrinkid").html(html);
            }
        })

    }


    $(function(){
        findWorkById();
    })


    function findWorkById(){

        alert(userId)
        queryhousingsituationid();
        querycarsituationid();
        querysmokeid()
        querydrinkid();
        $.post("http://localhost:9100/api-a/ys/findWorkById",{userId:userId},function(data){
            $("#lifeid").val(data.lifeid);
            $("#userid").val(data.userid);
            $("#queryhousingsituationid").val(data.housingsituationid);
              $("#querycarsituationid").val(data.carsituationid);
             $("#querysmokeid").val(data.smokeid);
               $("#querydrinkid").val(data.drinkid);
        })
    }


    //保存用户信息
    function updateWorkUser(){
        $.ajax({
            url:"http://localhost:9100/api-a/ys/updateWorkUser",
            data:$("#userForm").serialize(),
            type:"post",
            success:function(data){
                if (data) {
                    bootbox.alert("保存成功");

                }else{
                    bootbox.alert("保存失败");
                }
            }
        })
    }
</script>
</html>